.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #102351;
  color: #fff;
  transition: all 0.3s;
  /* align-items: center; */
}

#sidebar .sidebar-header {
  width: 100%;
  color: #102351;
  background: white;
  text-transform: uppercase;
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff !important;
  border: none;
  border-radius: 0;
  margin-bottom: 20px;
}
